<h1>Pricing</h1>

<% @pricing = Stripe::Price.list(lookup_keys: ["good_year", "good_month"]) %>
<% @pricing.each do |price| %>
  <br>
  <%= price.id %>
  <%= price.unit_amount/100 %>
  <%= price.currency %>
  <%= price.recurring.interval %>
<% end %>
